<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="SqlConnectionString1" connectionString="Data Source=ProdSqlServer1;Initial Catalog=MyDB1;Integrated Security=True"/>
    <add name="SqlConnectionString2" connectionString="Data Source=ProdSqlServer2;Initial Catalog=MyDB2;Integrated Security=True"/>
  </connectionStrings>
    <system.web>
        <compilation targetFramework="4.0" />
    </system.web>
    <system.webServer>
      <modules runAllManagedModulesForAllRequests="true"/>
    </system.webServer>
</configuration>
